* {
  margin: 0;
  padding: 0;
}

.main-content {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  margin: 2px auto;
  justify-items: center;
  justify-content: space-between;
  min-height: 84vh;
}
/* .......................................... */
.side-nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 90%;
}
.logo-area {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 5rem;
  text-align: center;
  box-shadow: 0px 1px 0px 0px #ccc;
}
.logo-area h2 {
  margin: 1rem auto;
  font-size: xx-large;
  font-weight: 700;
  color: #0376acb7;
}
.logo-area h2 span {
  color: #f1688d;
}
.side-nav-section {
  box-sizing: border-box;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 40%;
  box-sizing: border-box;
  box-shadow: 0px 1px 0px 0px #ccc;
}
.side-nave-item {
  margin-left: 2.5rem;
  font-weight: 300;
  font-size: 2rem;
  color: #050505b7;
}
.side-nave-item:hover {
  cursor: pointer;
  color: #04658fb7;
}
/* .................................................. */
.user-details {
  box-sizing: border-box;
  width: 63%;
  padding: 0px 4px;
  min-height: 90%;
  border-radius: 10px;
  border: 1px solid #d4bcc2;
}

.Welcome-home {
  box-sizing: border-box;
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 4rem auto;
  height: 8rem;
  width: 95%;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #d2edff91;
  box-shadow: 1px 2px 2px #3bb9f3b7;
}
.search-area {
  justify-items: center;
  height: 5rem;
  display: flex;
  justify-content: space-evenly;
}
.user-content {
  box-sizing: border-box;
  margin: 2px auto;
  padding: 14px 16px;
  width: 95%;
  min-height: 50vh;
}
/* Amedia query for the application breaking point on multiple device screens */

@media (max-width: 600px) {
  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-items: center;
    justify-content: space-between;
    border: none;
  }
  .side-nav {
    margin: 0px auto;
    width: 99%;
    margin: 4px auto;
    min-height: 2rem;
  }
  .user-details {
    margin: 4px auto;
    width: 99%;
    height: 95%;
    text-align: center;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  .Welcome-home {
    margin: 0px auto;
    display: none;
    justify-content: space-between;
    flex-direction: column;
    justify-items: center;
    width: 90%;
    background-color: #f5c3d0;
  }
  .search-area {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 0px 0px #ccc;
    height: 2rem;
  }
  .side-nav {
    display: flex;
    justify-items: center;
    border-style: none;
    height: 4rem;
  }
  .side-nav-section {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 2rem;
    border: none;
  }
  .side-nave-item {
    font-size: 1rem;
    margin: 0;
    left: 0;
  }
  .logo-area {
    display: none;
  }
  .user-content {
    width: 90%;
    height: 55vh;
    margin: 0px auto;
    border: none;
    overflow-y: scroll;
  }
}
