.profile-details {
  width: 22%;
  min-height: 90%;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.user-picture {
  width: 70%;
  height: 12rem;

  margin: auto;
}
.user-picture img {
  margin: 2rem 4rem;
  width: 55%;
  height: 70%;
  border-radius: 50%;
  border: 3px solid #3bb9f3b7;
}
.user-information {
  padding: 0px 5px;
  top: 0;
  font-weight: 300;
  font-size: large;
  text-align: center;
  height: 5rem;
  box-shadow: 0px 1px 0px 0px #ccc;
}
.meta-data {
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
  height: 4rem;
  color: #050505da;
  font-size: 1.2rem;
}
.meta-data-item:hover {
  cursor: pointer;
  color: #04658fb7;
}
.active-users {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 60%;
}

@media (max-width: 600px) {
  .profile-details {
    margin: 4px auto;
    width: 99%;
    height: 3rem;
    display: flex;
    border: none;
    overflow-y: scroll;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  .user-picture,
  .user-picture img,
  .user-information {
    display: none;
  }
  .meta-data {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: 1rem;
    margin: auto;
  }
}
